.agile-big-box{
    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;

    margin: 10px;

    background-color: #484D22;

    /* display: flex; */
    /* flex-direction: row; */
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.agile-box{
    /* border-color: black;
    border-width: 2px;
    border-style: solid; */

    width: 90%;

    margin: 10px;

    display: flex;
    flex-direction: row;
}

.first-square{
    /* border-color: black;
    border-width: 2px;
    border-style: solid; */
    
    width: 25%;
    
    padding: 10px;

    font-weight: bold;
    font-size: 20px;
}