.post-main-container{
    /* border-color: black;
    border-width: 2px;
    border-style: solid; */

    width: 100%;
    height: 100%;

    /* background-color: #F0EAD6; */

    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-container{
    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;

    background-color: white;

    width: 90%;

    margin-top: 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.post-creation-title{

    margin: 10px;
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-input{

    border-radius: 10px;
    width: 90%;
    font-size: 25px;
    padding: 10px;
}

.post-images-container{
    /* border-color: black;
    border-width: 2px;
    border-style: solid; */

    font-size: 20px;

    width: 90%;
    margin: 10px;

    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    align-items: center;
}

.image-title{
    margin: 10px;
}

.image-dropbox-container{
    border-color: black;
    border-width: 2px;
    border-style: solid;

    width: 100%;
    min-height: 150px;

    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
}

.centered-content {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
}


.image-description-container{
    /* border-color: black;
    border-width: 2px;
    border-style: solid; */

    width: 100%;

    display: flex;
    flex-direction: column;

}

.image-description-container label[for="description"]{
    /* border-color: black;
    border-width: 2px;
    border-style: solid; */

    margin: 5px;

}

.submit-box{
    /* border-color: black;
    border-width: 2px;
    border-style: solid; */

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    width: 50%;
}

.create-button{
    border-radius: 10px;
    width: 30%;
    height: 40px;
    margin: 10px;
    margin-top: 30px;

    background-color: green;
    color: white;

}


.cancel-button{
    border-radius: 10px;
    width: 30%;
    height: 40px;
    margin: 10px;
    margin-top: 30px;


    background-color: red;
    color: white;
}

