.project-stack-container{
    /* border-color: black;
    border-width: 2px;
    border-style: solid;
     */
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.project-card-container{
    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;

    background-color: #E2C876;

    display: flex;
    flex-direction: column;

    width: 25%;

    margin: 5px;

    transition: transform 0.3s;
}

.project-card-container:hover{
    transform: scale(0.9);
    transition-delay: 0.1s;
}

.project-card-title{
    /* border-color: black;
    border-width: 2px;
    border-style: solid; */

    font-size: 15px;
    font-weight: bold;

    margin: 5px;
}

.project-card-image{
    /* border-color: black;
    border-width: 2px;
    border-style: solid; */

    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 50px;
    
    margin: 10px;

}

.project-card-image img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 10px;
}

.project-card-description{
    /* border-color: black;
    border-width: 2px;
    border-style: solid; */

    margin: 5px;
}